@font-face {
  font-family: "EuclidA";
  src: url("../fonts/EuclidCircularA-SemiBold.eot");
  src: local("Euclid Circular A SemiBold"), url("../fonts/EuclidCircularA-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-SemiBold.woff2") format("woff2"), url("../fonts/EuclidCircularA-SemiBold.woff") format("woff"), url("../fonts/EuclidCircularA-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "EuclidB";
  src: url("../fonts/EuclidCircularB-Medium.eot");
  src: local("Euclid Circular A SemiBold"), url("../fonts/EuclidCircularB-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularB-Medium.woff2") format("woff2"), url("../fonts/EuclidCircularB-Medium.woff") format("woff"), url("../fonts/EuclidCircularB-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "EuclidB";
  src: url("../fonts/EuclidCircularB-Regular.eot");
  src: local("Euclid Circular A SemiBold"), url("../fonts/EuclidCircularB-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularB-Regular.woff2") format("woff2"), url("../fonts/EuclidCircularB-Regular.woff") format("woff"), url("../fonts/EuclidCircularB-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "EuclidB";
  src: url("../fonts/EuclidCircularB-Light.eot");
  src: local("Euclid Circular A SemiBold"), url("../fonts/EuclidCircularB-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularB-Light.woff2") format("woff2"), url("../fonts/EuclidCircularB-Light.woff") format("woff"), url("../fonts/EuclidCircularB-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SangKung";
  src: url("../fonts/SangBleuKingdom-Regular-WebXL.otf");
  src: local("SangBleuKingdom-Regular-WebXL.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SangKung";
  src: url("../fonts/SangBleuKingdom-Bold-WebXL.otf");
  src: local("SangBleuKingdom-Bold-WebXL.otf");
  font-weight: 700;
  font-style: normal;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  overflow-x: hidden;
  background: url(../img/Intersect.png) top 612px right/633px 312px no-repeat, url(../img/Intersect-eff.png) top 590px right 177px/546px 361px no-repeat, url(../img/flower.png) top right/910px 935px no-repeat, url(../img/flower_stroke.png) top right/955px 922px no-repeat;
}

a, p, h2, button, li {
  color: #3d3c3c;
  font-family: EuclidB;
  -moz-tab-size: 14px;
    -o-tab-size: 14px;
       tab-size: 14px;
}

a:hover, button:hover {
  color: #d9c287;
  cursor: pointer;
}

h1 {
  font-family: SangKung;
  color: #3d3c3c;
  font-size: 96px;
}

.conteiner {
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.textWhite {
  color: #FFFFFF;
  text-transform: inherit;
}

.header__wrp {
  width: 1440px;
  position: relative;
  z-index: 0;
}

.header__menu {
  background-color: #3d3c3c;
  width: 80px;
  height: 80px;
  margin-right: 60px;
}

.header__menu-open {
  margin-left: 24px;
  margin-top: 27px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  margin-left: 0;
  margin-right: auto;
  font-weight: 500;
}

.header__item-menu {
  margin-right: 63px;
}

.header__logo-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 36px;
  margin-right: 87px;
  z-index: 101;
}

.header__logo {
  margin-top: 5px;
  width: 66px;
  height: 56px;
}

.header__stars {
  position: absolute;
  margin: 73px auto;
}

.header__leng {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 156px;
  margin-left: 0;
}

.header__item2 {
  margin-right: 33px;
}

.leng-right {
  margin-right: 24px;
}

.header__list-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
  margin-left: auto;
  text-transform: uppercase;
  z-index: 10;
}

.header__list-entry-img {
  margin-right: 8px;
  width: 15px;
  height: 8px;
}

.text-colorWh {
  color: #FFFFFF;
  font-size: 15px;
}

.dot {
  border-bottom: 2px dashed #FFFFFF;
}

.header__line {
  margin-top: -3px;
}

.line {
  size: 1px;
  color: #3d3c3c;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  opacity: 0.3;
  z-index: 100;
  position: absolute;
}

.header__keyMobile {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header__list,
.header__stars,
.header__leng,
.header__item2,
.header__number,
.header__list-entry,
.header__menu-close,
.header__line {
    display: none;
  }
  body {
    background: none;
  }
  .header__wrp {
    width: 320px;
    background-color: #FFFFFF;
    z-index: 1;
  }
  .header__menu {
    margin-right: 67px;
  }
  .header__logo-stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .header__keyMobile {
    display: block;
    position: absolute;
    right: -40px;
    top: 10px;
    border-left: 1px solid rgba(61, 60, 60, 0.08);
    padding: 24px 26px;
    padding-bottom: 30px;
    width: 30px;
    height: 16px;
    background-color: #FFFFFF;
    z-index: 2;
  }
}
.mria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mria__text {
  width: 50%;
}

.mria__weather-bkg {
  margin-top: 90px;
  margin-left: 277px;
}

.mria__weather-bkg-eff {
  position: absolute;
  margin-left: -720px;
  margin-top: 90px;
}

.mria__weather-info {
  margin-top: -260px;
  margin-left: 610px;
}

.mria__weather-pic {
  margin-left: -80px;
  padding-top: 43px;
}

.mria__weather-temp {
  font-size: 48px;
  font-weight: 400;
  margin-top: -40px;
}

.mria__weather-info-text {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
}

.mria__weather-info-subtext {
  font-size: 16px;
  line-height: 24px;
}

.mria__weather-info-gps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
}

.mria__weather-info-pin {
  margin-left: -35px;
  margin-right: 24px;
  height: 16px;
  margin-top: 2px;
}

.mria__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 154px;
  margin-right: -147px;
  right: -619px;
}

.mria__social-item {
  margin-right: 20px;
  margin-left: auto;
  margin-top: 49px;
  width: 20px;
  border-radius: 100%;
  padding: 14px;
  background-color: #FFFFFF;
}
.mria__social-item:hover {
  cursor: pointer;
  background-color: #d9c287;
}

.mria__social-border {
  position: absolute;
  margin-top: -22px;
  margin-left: -23px;
}

.mria__social-faceB {
  padding: 0px 4px;
}

.mria__weather {
  margin-top: 405px;
  margin-left: 527px;
}

.mria__waves {
  margin-top: 27px;
  margin-left: 50px;
}

.mria__under-text {
  margin-top: 24px;
  margin-left: 140px;
  margin-right: auto;
  text-transform: uppercase;
  width: 182px;
}

.mria__title {
  margin-top: 43px;
  margin-left: 138px;
  font-size: 107px;
  letter-spacing: 2px;
}

.mria__title2 {
  letter-spacing: 4px;
  margin-top: -11px;
}

.mria__sub-title {
  text-transform: inherit;
  margin-top: 41px;
  margin-left: 139px;
  margin-right: auto;
  font-size: 24px;
  line-height: 30px;
  width: 411px;
}

.mria__btn {
  margin-top: 57px;
  margin-left: 140px;
  margin-right: auto;
  width: 477px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mria__btn-style {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.8px;
  font-weight: 500;
}

.mria__btn-room {
  color: #FFFFFF;
  border: none;
  background-color: #d9c287;
  border-radius: 6px;
  padding: 20px 43px;
  margin-right: 36px;
}
.mria__btn-room:hover {
  color: #FFFFFF;
}

.mria__btn-3d {
  color: #3d3c3c;
  border: 1px solid #d9c287;
  background-color: #FFFFFF;
  border-radius: 6px;
  padding: 20px 73px;
  margin-right: 36px;
}

.mria__line {
  margin-top: 24px;
  margin-left: 172px;
}

.mria__arrow {
  margin-top: 22px;
  margin-left: 142px;
  border: 1px solid #d9c287;
  border-radius: 100%;
  width: 14px;
  padding: 22px 23px;
}

.mria__flower-bkgMob {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .mria {
    overflow-x: hidden;
    width: 360px;
    position: relative;
    top: 0;
  }
  .mria__line,
.mria__bkg-img {
    display: none;
  }
  .mria__waves {
    margin-top: 24px;
    margin-left: -75px;
  }
  .mria__under-text {
    margin-left: 15px;
    margin-bottom: -12px;
  }
  .mria__title {
    margin-left: 18px;
    font-size: 70px;
    line-height: 80px;
  }
  .mria__sub-title {
    margin-top: 25px;
    margin-left: 16px;
    margin-right: auto;
    font-size: 24px;
    line-height: 30px;
    width: 328px;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
  }
  .mria__btn {
    margin-top: 41px;
    margin-left: 16px;
    width: 330px;
  }
  .mria__btn-room {
    padding: 15px 20px;
    margin-right: 16px;
  }
  .mria__btn-3d {
    padding: 18px 52px;
  }
  .mria__arrow {
    margin-top: 50px;
    margin-right: auto;
    margin-left: 149px;
    width: 14px;
  }
  .mria__flower-bkgMob {
    display: block;
    position: relative;
    right: 0;
    left: 37px;
    top: -66px;
    z-index: 0;
  }
  .mria__flower-strokeMob {
    top: -408px;
    position: relative;
    left: -14px;
  }
}
.choice__title {
  font-family: "SangKung";
  font-weight: 700;
  font-size: 45px;
  line-height: 57px;
  text-transform: inherit;
  margin-top: 85px;
  letter-spacing: 1px;
}

.wrp {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1160px;
  margin-top: -16px;
}

.choice__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 59px;
  margin-left: 9px;
}

.choice__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 100px;
  border: 1px solid rgba(61, 60, 60, 0.2);
  padding: 7px 14px;
  margin-right: 8px;
  width: 100%;
}

.choice__item-text {
  text-transform: inherit;
  padding-top: 16px;
  padding-bottom: 16px;
  white-space: nowrap;
}
.choice__item-text:hover {
  color: #d9c287;
}

.item1 {
  padding-right: 156px;
  max-width: 155px;
  height: 50px;
}

.item2 {
  width: 190px;
  padding-right: 57px;
  height: 50px;
}

.item3 {
  width: 300px;
  padding-right: 76px;
  padding-left: 15px;
  height: 50px;
}

.choice__item-button {
  background-color: #3d3c3c;
  color: #FFFFFF;
  border: none;
  border-radius: 0 5px 5px 0;
  text-transform: inherit;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  width: 144px;
  height: 80px;
  margin-top: -9px;
}

.choice__item-pic:hover {
  fill: #3d3c3c;
}

.pic1 {
  margin-left: 154px;
  margin-top: 13px;
}

.pic2 {
  margin-left: 56px;
  margin-top: 13px;
}

.pic3 {
  margin-left: 77px;
  margin-top: 13px;
}

.choice__tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 38px;
  margin-bottom: 30px;
}

.choice__tab-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  background-color: transparent;
  border: none;
  padding-bottom: 9px;
  margin-right: 42px;
  margin-left: -5px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.choice__tab-item-active {
  color: #d9c287;
  border-bottom: 2px solid #d9c287;
}

.choice__tab-body-item {
  visibility: hidden;
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.choice__tab-body-active {
  visibility: visible;
  opacity: 1;
  height: 100%;
  margin: 0;
  padding: 0;
}

.choice__hr {
  margin-top: -30px;
  opacity: 0.3;
}

@media (min-width: 320px) and (max-width: 480px) {
  .choice {
    margin-top: -450px;
    margin-left: 17px;
  }
  .choice__title {
    font-size: 26px;
    line-height: 56px;
  }
  .choice__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 22px;
  }
  .choice__item {
    margin-bottom: 6px;
  }
  .pic1 {
    margin-left: 127px;
  }
  .pic2 {
    margin-left: 95px;
  }
  .pic3 {
    margin-left: -11px;
  }
  .item1 {
    padding-right: 140px;
  }
  .item2 {
    padding-right: 105px;
  }
  .item3 {
    padding-right: 0px;
    padding-left: 10px;
  }
  .choice__item-button {
    border-radius: 5px;
    width: 310px;
    height: 63px;
    margin-top: 9px;
  }
  .choice__tab-list {
    overflow-x: scroll;
    white-space: nowrap;
    margin-top: 46px;
  }
}
.prev {
  position: relative;
  top: -45px;
  left: 1080px;
}

.next {
  position: relative;
  top: -292px;
  left: 1136px;
}

.slick-slider {
  margin-top: 14px;
}

.marginRight1 {
  margin-right: -180px;
}

.marginRight2 {
  margin-right: 180px;
}

.slick-slide {
  position: relative;
}

.tab-text-title {
  font-family: "EuclidA";
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-top: -123px;
  padding-left: 24px;
  position: relative;
  z-index: 2;
}

.tab-text-subtitle {
  color: #FFFFFF;
  text-transform: inherit;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  padding-top: 10px;
  padding-left: 24px;
  position: relative;
  z-index: 2;
}

.choice__tab-body-item-bkg {
  margin-top: -152px;
  z-index: 1;
  position: relative;
}

.marginRight3 {
  margin-right: -180px;
}

.marginRight4 {
  margin-right: 180px;
}

.choice__slider1,
.choice__slider2,
.choice__slider3 {
  margin-top: 0 !important;
}

.choice__tab-body-item-bkg2 {
  position: absolute;
  top: 160px;
}

.choice__tab-body-item-text {
  position: absolute;
  position: absolute;
  margin-top: -66px;
}

.marginRight6 {
  margin-right: 0px;
  margin-left: 0px;
}

.marginRight5 {
  margin-right: 0px;
  margin-left: 0px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .choice__tab-body {
    width: 640px;
  }
  .choice__tab-body-item-bkg2 {
    position: relative;
    top: -74px;
  }
  .choice__tab-body-item-text {
    margin-top: -133px;
  }
  .choice__tab-body-item-img {
    width: 328px;
    height: 232px;
    margin-top: 20px;
  }
  .choice__tab-body-item-bkg2 {
    width: 328px;
    margin-top: 10px;
  }
  .marginRight1,
.marginRight2,
.marginRight3,
.marginRight4,
.marginRight5,
.marginRight6 {
    margin-right: 0;
  }
  .choice__tab-body-item-pic2 {
    margin-top: 20px;
  }
}
.spa {
  margin-top: 0;
}

.spa__bkg1 {
  background-position: left;
  width: 100%;
  height: 824px;
  background-image: url(../img/spa-bkg-left.png);
  background-repeat: no-repeat;
  position: relative;
  margin-top: -160px;
}

.spa__bkg2 {
  background-position: right;
  width: 100%;
  height: 1510px;
  background-image: url(../img/spa-bkg-right.png);
  background-repeat: no-repeat;
  position: relative;
}

.spa__bkg1Mob {
  display: none;
}

.spa__wrp {
  width: 50%;
  position: absolute;
  top: 13.7%;
  left: 45%;
}

.spa__img {
  margin-top: 38px;
}

.spa__title {
  font-family: "SangKung";
  font-weight: 400;
  font-size: 46px;
  line-height: 58px;
  text-transform: inherit;
  margin-top: 73px;
  margin-left: -144px;
  letter-spacing: 0.3px;
}

.spa__subtitle {
  font-family: "SangKung";
  font-weight: 700;
  font-size: 44px;
  line-height: 56px;
  text-transform: inherit;
  margin-left: -195px;
  letter-spacing: 0.9px;
}

.spa__pic {
  margin-top: 42px;
  margin-left: 40px;
}

.spa__text {
  font-family: "SangKung";
  font-weight: 400;
  margin-top: 38px;
  margin-left: -574px;
  text-transform: inherit;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
}

.spa__btn {
  margin-top: 40px;
  margin-left: -29px;
  letter-spacing: 2px;
  padding: 22px 40px;
  text-transform: uppercase;
}

.spa__bkg2Mob {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .spa {
    margin-top: -720px;
  }
  .spa__wrp {
    top: 53%;
  }
  .spa__img {
    margin-top: 40px;
    margin-left: -54px;
  }
  .spa__title {
    font-size: 27px;
    line-height: 29px;
    margin-top: 62px;
    margin-left: -112px;
  }
  .spa__subtitle {
    font-size: 24px;
    line-height: 30px;
    margin-left: -139px;
    margin-top: 4px;
  }
  .spa__pic svg {
    width: 37px;
    height: 24px;
  }
  .spa__pic {
    margin-top: 25px;
    margin-left: 2px;
  }
  .spa__text {
    margin-top: 22px;
    margin-left: -130px;
    width: 300px;
  }
  .spa__btn {
    margin-top: 7px;
    margin-left: -82px;
  }
  .spa__bkg1,
.spa__bkg2 {
    background-image: none;
  }
  .spa__bkg1Mob {
    display: block;
    width: 213px;
    height: 345px;
    margin-left: 130px;
    margin-top: 421px;
  }
}
.inclusive {
  max-width: 100%;
  position: relative;
  width: 1400px;
  height: 801px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  border-radius: 26px;
  top: -42px;
}

.inclusive .prev {
  position: relative;
  left: 600px;
  top: 50px;
}

.inclusive .next {
  position: relative;
  top: -1173px;
  left: 656px;
}

.inclusive__title {
  font-family: "SangKung";
  font-weight: 700;
  font-size: 73px;
  line-height: 56px;
  margin-left: 123px;
  margin-top: 80px;
  padding-top: 74px;
}

.inclusive__text {
  width: 228px;
  margin-top: 22px;
  margin-left: 16px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

.inclusive__text1 {
  width: 528px;
}

.inclusive__text3 {
  margin-top: 14px;
}

.inclusive__subtitle {
  color: #999999;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.9px;
}

.inclusive__subtext {
  margin-top: 25px;
  width: 260px;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 56px;
}

.inclusive__slider {
  height: 300px;
  margin-top: -93px;
  margin-left: 20px;
}

.inclusive__slide1 {
  margin-left: 100px;
  margin-top: 153px;
}

.inclusive__slide2 {
  margin-left: 700px;
  margin-top: -543px;
}

.inclusive__slide3 {
  margin-top: -706px;
  margin-left: 992px;
  background-color: #FFFFFF;
  width: 261px;
  height: 497px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 4px 14px 3px rgba(34, 60, 80, 0.2);
          box-shadow: 3px 4px 14px 3px rgba(34, 60, 80, 0.2);
  padding: 8px;
}

.inclusive__link {
  color: #AB955E;
  text-transform: uppercase;
  font-size: 10px;
  margin-left: 16px;
  font-weight: 600;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0.6px;
}

.inclusive__svg {
  margin-left: 7px;
  margin-bottom: 3px;
}

.inclusive__arrows {
  margin-top: -742px;
  margin-left: 619px;
}

.inclusive__right {
  padding-left: 13px;
}

.inclusive__slider-overf {
  width: 1363px;
  height: 794px;
  margin-top: -92px;
  margin-left: 19px;
  overflow: hidden;
}

.inclusive__slider-line {
  width: 2590px;
  height: 794px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
}

.inclusive__slider1 {
  margin-right: 41px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .inclusive__subtext,
.inclusive__subtitle {
    display: none;
  }
  .inclusive {
    top: -257px;
    width: 343px;
    max-width: 343px;
  }
  .inclusive__arrows {
    margin-top: -1208px;
    margin-left: 231px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .inclusive__title {
    font-size: 28px;
    margin-left: -2px;
    margin-top: 71px;
  }
  .inclusive__slider-overf {
    margin-left: 0;
    height: 1253px;
    width: 326px;
  }
  .inclusive__slider-overf img {
    width: 328px;
    height: 232px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px;
  }
  .inclusive__slider-overf p {
    width: 296px;
  }
  .inclusive__slide1 {
    margin-left: 0;
    margin-top: 117px;
  }
  .inclusive__slide2 {
    margin-top: 36px;
    margin-left: 0;
  }
  .inclusive__slide3 {
    margin-top: 38px;
    margin-left: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    border-radius: 0;
    height: 100%;
    padding: 0;
  }
}
.tablet {
  margin-top: -118px;
}

.tablet__tablet {
  width: 616px;
  margin-left: 52px;
  margin-top: -2px;
  height: 822px;
}

.tablet__bkg {
  background-position: center;
  width: 100%;
  background-image: url(../img/tablet-bkg.png);
  background-repeat: no-repeat;
  position: relative;
}

.tablet__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.tablet__logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  width: 66px;
}

.spa__bkg2Mob {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .tablet {
    margin-left: -17px;
    margin-top: -118px;
    overflow: hidden;
    width: 358px;
    height: 750px;
  }
  .tablet__bkg {
    display: none;
  }
  .tablet__logo {
    margin-top: 478px;
  }
  .spa__bkg2Mob {
    display: block;
    width: 347px;
    margin-left: 0px;
    margin-top: -318px;
    margin-right: auto;
  }
}
.header-active .header__wrp {
  background-color: #242424;
  height: 80px;
}
.header-active .header__number,
.header-active .header__leng,
.header-active .header__stars,
.header-active .header__menu {
  overflow: hidden;
  opacity: 0;
  height: 0;
}
.header-active .header__item-menu-text {
  color: #FFFFFF;
}
.header-active .header__item-menu-text:hover {
  color: #d9c287;
}
.header-active .header__logo-stars {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-left: 50px;
  margin-top: 3px;
  margin-right: auto;
}
.header-active .header__menu-close {
  opacity: 1;
}
.header-active .header__list {
  margin-left: -197px;
  margin-top: 5px;
  margin-right: auto;
  font-weight: 400;
}
.header-active .header__item2 {
  margin-right: 7px;
}

header .menu__popup-leng {
  display: none;
}

.menu__popup {
  overflow: visible;
  opacity: 0;
  width: 0;
  height: 0;
  z-index: 0;
  position: relative;
}

.menu__popup-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1360px;
  height: 691px;
  opacity: 1;
  position: absolute;
  z-index: 20;
  background-color: #242424;
}

.header__menu-close {
  background-color: #3d3c3c;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 0;
  opacity: 0;
}

.header__menu-close-img {
  margin-left: auto;
  margin-right: auto;
  width: 29px;
  height: 29px;
}

.menu__popup-slider-img1 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.text-colorWhv {
  color: #FFFFFF;
}

.main-active {
  background: rgba(255, 255, 255, 0.64);
  opacity: 0.6;
}

.menu__popup-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__popup-active a {
  color: #FFFFFF;
}

.menu__popup-list {
  position: absolute;
  margin-top: 24px;
  margin-left: 139px;
}

.menu__popup-level1-active {
  cursor: pointer;
  background-color: rgba(217, 194, 135, 0.16);
  width: 280px;
  border: rgba(217, 194, 135, 0.16);
  border-radius: 10px;
  background-image: url(../img/menu-arrow.png);
  background-repeat: no-repeat;
  background-position: center right 26px;
}

.menu__popup-level1,
.menu__popup-level2 {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  padding-top: 15px;
  padding-bottom: 17px;
  padding-left: 25px;
  padding-right: 57px;
}

.menu__popup-level2 {
  margin-left: 330px;
  width: 378px;
}

.menu__popup-level2-describ {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.48);
  opacity: 0.48;
  margin-top: 207px;
  width: 339px;
}

.menu__popup-line1:before {
  content: " ";
  background: #d9c287;
  width: 1px;
  height: 368px;
  float: right;
  margin-left: 82px;
  margin-top: 35px;
  opacity: 0.24;
}

.menu__popup-line2:before {
  content: " ";
  background: #d9c287;
  width: 1px;
  height: 552px;
  float: right;
  margin-left: 457px;
  margin-top: 35px;
  opacity: 0.24;
}

.menu__popup-line3 {
  size: 1px;
  width: 1218px;
  margin-top: 619px;
  margin-left: -403px;
  opacity: 0.24;
  position: absolute;
  border: 1px solid #808080;
  background-color: #d9c287;
}

.menu__popup-list {
  height: 558px;
  margin-left: 138px;
  margin-top: 24px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 387px;
}

.menu__popup-list::-webkit-scrollbar {
  width: 6px;
}

.menu__popup-list::-webkit-scrollbar-track {
  background: #242424;
}

.menu__popup-list::-webkit-scrollbar-thumb {
  background-color: #d9c287;
  border-radius: 5px;
  opacity: 0.32;
}

.menu__popup-list2 {
  opacity: 0;
  position: absolute;
  left: 226px;
  top: 25px;
}

.menu__popup-list2-active {
  opacity: 1;
}

.menu__popup-slider-overf {
  overflow: hidden;
  width: 420px;
  margin-right: 0;
  margin-left: auto;
}

.menu__popup-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1260px;
  margin-right: 0;
  margin-left: auto;
  margin-top: 2px;
  position: relative;
  right: 0;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}
.menu__popup-slider .menu__popup-slider-title,
.menu__popup-slider .menu__popup-slider-subtitle,
.menu__popup-slider .menu__popup-slider-btn {
  color: #FFFFFF;
}

.menu__popup-slider-item1 {
  width: 420px;
  position: relative;
}

.menu__popup-slider-content {
  position: absolute;
  top: 164px;
}

.menu__popup-slider-text {
  position: relative;
  top: 233px;
  left: 39px;
}

.menu__popup-slider-title {
  font-family: SangKung;
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
}

.menu__popup-slider-subtitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}

.menu__popup-slider-btn {
  background-color: #BCA56A;
  border: none;
  border-radius: 5px;
  padding: 18px 53px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  position: relative;
  top: 30px;
}

.menu__popup-info {
  color: #FFFFFF;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: auto;
  margin-top: 25px;
  width: 263px;
}

.menu__popup-slider-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 562px;
  right: 40px;
}

.menu__popup-slider-dots2 {
  margin: 0px 17px;
}

.menu__popup-slider-dots1,
.menu__popup-slider-dots2,
.menu__popup-slider-dots3 {
  fill: #FFFFFF;
}
.menu__popup-slider-dots1:hover,
.menu__popup-slider-dots2:hover,
.menu__popup-slider-dots3:hover {
  fill: #d9c287;
  border: 2px solid #d9c287;
  border-radius: 100%;
  border-right: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  padding-top: 2px;
  padding-left: 1px;
}

.menu__popup-leng,
.menu__open-list-mob-wrp,
.menu__open-social-mob,
.menu__open-number-mob,
.menu__open-info-mob-wrp {
  display: none;
}

.menu__popup-btn {
  opacity: 0;
  z-index: 0;
  width: 0;
  overflow: hidden;
}

@media (min-width: 320px) and (max-width: 480px) {
  .menu__popup-slider-overf,
.menu__popup-line1,
.menu__popup-line2,
.menu__popup-line3,
.menu__popup-level2-describ {
    display: none;
  }
  .menu__popup-active {
    width: 360px;
    height: 1000px;
    opacity: 1;
    position: absolute;
    z-index: 20;
    background-color: #242424;
  }
  .header-active .header__wrp {
    background-color: #3d3c3c;
  }
  .header-active .header__keyMobile {
    display: none;
  }
  .header-active .header__menu-close {
    margin-right: -40px;
  }
  .header-active .menu__popup-leng {
    display: block;
    position: absolute;
    top: 31px;
  }
  .header-active .menu__popup-leng-ru {
    color: #FFFFFF;
  }
  .header-active .header__logo {
    margin-left: 100px;
    margin-right: -45px;
  }
  .menu__popup-list {
    height: 558px;
    margin-left: 0;
    margin-top: 24px;
    width: 360px;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .menu__popup-level1-active {
    cursor: pointer;
    background-color: rgba(217, 194, 135, 0.16);
    width: 280px;
    border: rgba(217, 194, 135, 0.16);
    border-radius: 10px;
    background-image: url(../img/menu-open-arrows.png);
    background-repeat: no-repeat;
    background-position: center right 26px;
    margin-bottom: 100px;
  }
  .menu__popup-level1 {
    border-bottom: 1px solid #3d3c3c;
  }
  .menu__popup-level2 {
    margin-left: -221px;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    top: 125px;
    left: -14px;
  }
  .menu__popup-btn {
    opacity: 1;
    z-index: 1;
    width: 328px;
    overflow: inherit;
    position: absolute;
    top: 630px;
    left: 16px;
    background-color: #BCA56A;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px;
  }
  .menu__open-list-mob-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 340px;
    position: relative;
    top: 700px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 60px;
  }
  .menu__open-list-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 243px;
    margin-bottom: 15px;
  }
  .menu__open-social-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__open-social-mob-item-svg {
    fill: #d9c287;
  }
  .menu__open-social-mob-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 141px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    top: 809px;
    left: -406px;
  }
  .menu__open-number-mob,
.menu__open-info-mob-wrp {
    display: block;
  }
  .menu__open-number-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 856px;
    width: 330px;
    left: -112px;
    white-space: nowrap;
  }
  .menu__open-info-mob-wrp {
    display: block;
    position: relative;
    left: -265px;
    top: 922px;
  }
}