.header-active {
    .header__wrp {
        background-color: $dark-gray;
        height: 80px;
    }
    .header__number, 
    .header__leng,
    .header__stars,
    .header__menu {
        overflow: hidden;
        opacity: 0;
        height: 0;
    }
    .header__item-menu-text {
        color: $white;
        &:hover {
            color: $gold;
        }
    }
    .header__logo-stars {
        order: -1;
        margin-left: 50px;
        margin-top: 3px;
        margin-right: auto;
    }
    .header__menu-close {
        opacity: 1;
    }
    .header__list {
        margin-left: -197px;
        margin-top: 5px;
        margin-right: auto;
        font-weight: 400;
    }
    .header__item2 {
        margin-right: 7px;
    }
}

.menu__popup {
    overflow: visible;
    opacity: 0;
    width: 0;
    height: 0;
    z-index: 0;
    position: relative;
}

.menu__popup-active {
    display: flex;
    width: 1360px;
    height: 691px;
    opacity: 1;
    position: absolute;
    z-index: 20;
    background-color: $dark-gray;
}

.header__menu-close {
    background-color: #3d3c3c;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
    opacity: 0;
}

.header__menu-close-img {
    margin-left: auto;
    margin-right: auto;
    width: 29px;
    height: 29px;
}
.menu__popup-slider-img1 {
    object-fit: cover;
    width: 100%;
}


.text-colorWhv {
    color: $white;
}


.main-active {
    background: rgba(255, 255, 255, 0.64);
    opacity: 0.6;
}

.menu__popup-active {
    display: flex;
    justify-content: space-between;
}

.menu__popup-active a {
    color: $white;
}

.menu__popup-list {
    position: absolute;
    margin-top: 24px;
    margin-left: 139px;
}

.menu__popup-level1-active {
    cursor: pointer;
    background-color: rgba(217, 194, 135, 0.16);
    width: 280px;
    border: rgba(217, 194, 135, 0.16);
    border-radius: 10px;
    background-image: url(../img/menu-arrow.png);
    background-repeat: no-repeat;
    background-position: center right 26px;
}

.menu__popup-level1,
.menu__popup-level2 {
    color: $white;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 25px;
    padding-right: 57px;
}

.menu__popup-level2 {
    margin-left: 330px;
    width: 378px;
}

.menu__popup-level2-describ {
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.48);
    opacity: 0.48;
    margin-top: 207px;
    width: 339px;
}


.menu__popup-line1:before {
    content: " ";
    background: $gold;
    width: 1px;
    height: 368px;
    float: right;
    margin-left: 82px;
    margin-top: 35px;
    opacity: .24;
}

.menu__popup-line2:before {
    content: " ";
    background: $gold;
    width: 1px;
    height: 552px;
    float: right;
    margin-left: 457px;
    margin-top: 35px;
    opacity: 0.24;
}

.menu__popup-line3 {
    size: 1px;
    width: 1218px;
    margin-top: 619px;
    margin-left: -403px;
    opacity: .24;
    position: absolute;
    border: 1px solid #808080;
    background-color: $gold;
}

.menu__popup-list {
    height: 558px;
    margin-left: 138px;
    margin-top: 24px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 387px;
}

.menu__popup-list::-webkit-scrollbar {
    width: 6px;
}

.menu__popup-list::-webkit-scrollbar-track {
    background: $dark-gray;
}

.menu__popup-list::-webkit-scrollbar-thumb {
    background-color: $gold;
    border-radius: 5px;
    opacity: .32;
}


.menu__popup-list2 {
    opacity: 0;
    position: absolute;
    left: 226px;
    top: 25px;
}

.menu__popup-list2-active {
    opacity: 1;
}





// .menu__popup-list1 {
//     width: 1323px;
// }

// .menu__popup-list2 {
//     width: 512px;
//     margin-top: 42px;
//     margin-right: 6px;
//     opacity: 0;
// }

// .menu__popup-list2-active {
//     opacity: 1;
// }

// .menu__popup-item-text {
//     font-weight: 300;
//     font-size: 24px;
//     line-height: 32px;
//     padding-top: 15px;
//     padding-bottom: 17px;
//     padding-left: 25px;
//     padding-right: 57px;
// }

// .menu__popup-item-text {
//         &:hover {
//             cursor: pointer;
//             background-color: rgba(217, 194, 135, 0.16);
//             width: 280px;
//             border: rgba(217, 194, 135, 0.16);
//             border-radius: 10px;
//             background-image: url(../img/menu-arrow.png);
//             background-repeat: no-repeat;
//             background-position: center right 26px;
//     }
// }

// .menu__popup-item2-text {
//     padding: 0;
//     position: relative;
//     right: -1px;
//     margin-bottom: 32px;
//     width: 357px;
// }

// .menu__popup-item2-subtext {
//     margin-top: 240px;
//     width: 321px;
// }

// .menu__popup-item2-subtext {
//     width: 313px;
// }

// .menu__popup-item2-subtext-text {
//     line-height: 24px;
// }

.menu__popup-slider-overf {
    overflow: hidden;
    width: 420px;
    margin-right: 0;
    margin-left: auto;
}

.menu__popup-slider {
    display: flex;
    width: 1260px;
    margin-right: 0;
    margin-left: auto;
    margin-top: 2px;
    position: relative;
    right: 0;
    transition:all ease 1s;
    .menu__popup-slider-title,
    .menu__popup-slider-subtitle,
    .menu__popup-slider-btn {
        color: $white;
    }
}

.menu__popup-slider-item1 {
    width: 420px;
    position: relative;
}

.menu__popup-slider-content {
    position: absolute;
    top: 164px;
}

.menu__popup-slider-text {
    position: relative;
    top: 233px;
    left: 39px;
}

.menu__popup-slider-title {
    font-family: SangKung;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
} 

.menu__popup-slider-subtitle {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
}

.menu__popup-slider-btn {
    background-color: $beige;
    border: none;
    border-radius: 5px;
    padding: 18px 53px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    position: relative;
    top: 30px;
}

.menu__popup-info {
    color: $white;
    text-transform: uppercase;
    margin-right: 0;
    margin-left: auto;
    margin-top: 25px;
    width: 263px;
}

.menu__popup-slider-dots {
    display: flex;
    position: absolute;
    top: 562px;
    right: 40px;
}

.menu__popup-slider-dots2 {
    margin: 0px 17px;
}

.menu__popup-slider-dots1,
.menu__popup-slider-dots2,
.menu__popup-slider-dots3 {
    fill: $white;
    &:hover {
        fill: $gold;
        border: 2px solid $gold;
        border-radius: 100%;
        border-right: 2px solid rgba(255, 255, 255, 0);
        border-bottom: 2px solid rgba(255, 255, 255, 0);
        padding-top: 2px;
        padding-left: 1px;
    }
}

