.inclusive {
    max-width: 100%;
    position: relative;
    width: 1400px;
    height: 801px;
    margin-left: auto;
    margin-right: auto;
    background-color: $white;
    border-radius: 26px;
    top: -42px;
}

.inclusive .prev {
    position: relative;
    left: 600px;
    top: 50px;
}

.inclusive .next {
    position: relative;
    top: -1173px;
    left: 656px;
}

.inclusive__title {
    font-family: "SangKung";
    font-weight: 700;
    font-size: 73px;
    line-height: 56px;
    margin-left: 123px;
    margin-top: 80px;
    padding-top: 74px;
}

.inclusive__text {
    width: 228px;
    margin-top: 22px;
    margin-left: 16px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.inclusive__text1 {
    width: 528px;
}

.inclusive__text3 {
    margin-top: 14px;
}

.inclusive__subtitle {
    color:#999999;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .9px;
}

.inclusive__subtext {
    margin-top: 25px;
    width: 260px;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 56px;
}

.inclusive__slider {
    height: 300px;
    margin-top: -93px;
    margin-left: 20px;
}

.inclusive__slide1 {
    margin-left: 100px;
    margin-top: 153px;
}

.inclusive__slide2 {
    margin-left: 700px;
    margin-top: -543px;
}

.inclusive__slide3 {
    margin-top: -706px;
    margin-left: 992px;
    background-color: $white;
    width: 261px;
    height: 497px;
    border-radius: 10px;
    box-shadow: 3px 4px 14px 3px rgba(34, 60, 80, 0.2);
    padding: 8px;
}

.inclusive__link {
    color: #AB955E;
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 16px;
    font-weight: 600;
    font-size: 10px;
    line-height: 24px;
    letter-spacing: .6px;
}

.inclusive__svg {
    margin-left: 7px;
    margin-bottom: 3px;
}

.inclusive__arrows {
    margin-top: -742px;
    margin-left: 619px;
}

.inclusive__right {
    padding-left: 13px;
}

.inclusive__slider-overf {
    width: 1363px;
    height: 794px;
    margin-top: -92px;
    margin-left: 19px;
    overflow: hidden;

}

.inclusive__slider-line {
    width: 2590px;
    height: 794px;
    display: flex;
    left: 0;

}

.inclusive__slider1 {
    margin-right: 41px;
}
