.mria {
    display: flex;
    justify-content: space-between;
}

.mria__text {
    width: 50%;
}

.mria__weather-bkg {
    margin-top: 90px;
    margin-left: 277px;
}

.mria__weather-bkg-eff {
    position: absolute;
    margin-left: -720px;
    margin-top: 90px;
}

.mria__weather-info {
    margin-top: -260px;
    margin-left: 610px;
}

.mria__weather-pic {
    margin-left: -80px;
    padding-top: 43px;
}

.mria__weather-temp {
    font-size: 48px;
    font-weight: 400;
    margin-top: -40px;
}

.mria__weather-info-text {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
}

.mria__weather-info-subtext {
    font-size: 16px;
    line-height: 24px;
}

.mria__weather-info-gps {
    display: flex;
    margin-top: 7px;
}

.mria__weather-info-pin {
    margin-left: -35px;
    margin-right: 24px;
    height: 16px;
    margin-top: 2px;
}

.mria__social {
    display: flex;
    flex-direction: column;
    margin-top: 154px;
    margin-right: -147px;
    right: -619px;
}

.mria__social-item {
    margin-right: 20px;
    margin-left: auto;
    margin-top: 49px;
    width: 20px;
    border-radius: 100%;
    padding: 14px;
    background-color: $white;
    &:hover {
        cursor: pointer;
        background-color: $gold;
    }
}

.mria__social-border {
    position: absolute;
    margin-top: -22px;
    margin-left: -23px;
}

.mria__social-faceB {
    padding: 0px 4px;
}

.mria__weather {
    margin-top: 405px;
    margin-left: 527px;
}

.mria__waves {
    margin-top: 27px;
    margin-left: 50px;
}

.mria__under-text {
    margin-top: 24px;
    margin-left: 140px;
    margin-right: auto;
    text-transform: uppercase;
    width: 182px;
}

.mria__title {
    margin-top: 43px;
    margin-left: 138px;
    font-size: 107px;
    letter-spacing: 2px;
}

.mria__title2 {
    letter-spacing: 4px;
    margin-top: -11px;
}

.mria__sub-title {
    text-transform: inherit;
    margin-top: 41px;
    margin-left: 139px;
    margin-right: auto;
    font-size: 24px;
    line-height: 30px;
    width: 411px;
}

.mria__btn {
    margin-top: 57px;
    margin-left: 140px;
    margin-right: auto;
    width: 477px;
    display: flex;
}

.mria__btn-style {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .8px;
    font-weight: 500;
}

.mria__btn-room {
    color: $white;
    border: none;
    background-color: $gold;
    border-radius: 6px;
    padding: 20px 43px;
    margin-right: 36px;
    &:hover {
        color: $white;
    }
}

.mria__btn-3d {
    color: $gray;
    border: 1px solid $gold;
    background-color: $white;
    border-radius: 6px;
    padding: 20px 73px;
    margin-right: 36px;
}

.mria__line {
    margin-top: 24px;
    margin-left: 172px;
}

.mria__arrow {
    margin-top: 22px;
    margin-left: 142px;
    border: 1px solid $gold;
    border-radius: 100%;
    width: 14px;
    padding: 22px 23px;
}

.mria__flower-bkgMob {
    display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
    .mria {
        overflow-x: hidden;
        width: 360px;
        position: relative;
        top: 0;
    }
    .mria__line,
    .mria__bkg-img {
        display: none;
    }

    .mria__waves {
        margin-top: 24px;
        margin-left: -75px;
    }

    .mria__under-text {
        margin-left: 15px;
        margin-bottom: -12px;
    }

    .mria__title {
        margin-left: 18px;
        font-size: 70px;
        line-height: 80px;
    }

    .mria__sub-title {
        margin-top: 25px;
        margin-left: 16px;
        margin-right: auto;
        font-size: 24px;
        line-height: 30px;
        width: 328px;
        font-weight: 300;
        font-size: 20px;
        line-height: 32px;
    }

    .mria__btn {
        margin-top: 41px;
        margin-left: 16px;
        width: 330px;
    }

    .mria__btn-room {
        padding: 15px 20px;
        margin-right: 16px;
    }

    .mria__btn-3d {
        padding: 18px 52px;
    }

    .mria__arrow {
        margin-top: 50px;
        margin-right: auto;
        margin-left: 149px;
        width: 14px;
    }

    .mria__flower-bkgMob {
        display: block;
        position: relative;
        right: 0;
        left: 37px;
        top: -66px;
        z-index: 0;
    }

    .mria__flower-strokeMob {
        top: -408px;
        position: relative;
        left: -14px;
    }
}